.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.mapa {
  height: 500px;
}

.mapa img {
  height: 89%;
}

.mapa .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 140.62%;
  /* or 90px */

  color: #FFFFFF;
}

.example-card {
  max-width: 400px;
  max-height: 600px;
}

.img-card {
  height: 150px;
}

.mat-card-content {
  margin-bottom: unset;
}

.title-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.rat-local {
  width: 35%;
}

.name-local {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #0C1A54;
  margin: unset;
}

.card-cont .desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;

  color: #000000;
}

.card-cont .avaliacao .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140.62%;
  color: #000000;
}

.card-cont .avaliacao .icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;

  .icon {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circle {
      width: 40px;
      
    }

    .fa {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      fa-icon {
        font-size: 20px;
        margin-bottom: 35px;
        color: #55DF6F;
      }
    }

    .text {
      margin-top: 10px;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 10%;
      text-align: center;
      white-space: pre-wrap;
    }
  }
}

.card-actions {
  display: flex;
  justify-content: center;
}

.comment-box {
  width: 100%;
  
}

.comment-cont {
  display: flex;
  flex-direction: column;
}