<mat-toolbar color="background" class="toolbar-top">
  <div class="toolbar-img">
    <img src="../../assets/logo.png" alt="Corona Maps">
  </div>

  <div class="rig-toolbar">
    <div class="search">
      <input matInput placeholder="Search">
    </div>
  
    <div class="buttons-toolbar">
      <button mat-raised-button id="login-btn">Login</button>
      <button mat-raised-button color="primary">Register</button>
    </div>
  </div>
</mat-toolbar>

<div id="regions_div" style="width: 900px; height: 500px;"></div>
